.character-section {
  margin: var(--spacing-xxl) 0;
  padding: var(--spacing-lg) 0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-lg);
}

.section-header h2 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.view-all-link {
  margin-right: 5rem;
  width: 100px;
  font-size: 0.9rem;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--spacing-sm);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-all-link:hover {
  background-color: rgba(122, 229, 130, 0.2);
}